@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Montserrat:wght@200;300;400;500&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
  --font-serif: 'Cormorant Garamond', serif;
  --font-sans: 'Montserrat', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
  --font-inter: var(--font-inter);
  --font-libre: var(--font-libre);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  overflow: hidden;
}